---
import Layout from "../layouts/Layout.astro";
import ContactPage from "../sections/ContactPage.astro";
---

<Layout title="Conserve Energy |">
    <main>
        <section>
            <ContactPage />
        </section>
    </main>
</Layout>

<!-- <style>
    * {
        border: 1px solid red;
    }
</style> -->
