---
import Layout from "../layouts/Layout.astro";
import ResultsPage from "../components/ResultsPage.astro";
import ContactCard from "../components/ContactCard.astro";
import Resultshero from "../components/ResultsHero.astro";
---

<Layout title="Conserve Energy |">
  <main>
    <Resultshero />
    <section>
      <ResultsPage />
      <ContactCard />
    </section>
  </main>
</Layout>

<!-- <style>
    * {
        border: 1px solid red;
    }
</style> -->