---
import Layout from "../layouts/Layout.astro";
import ResultsHero from "../sections/ResultsHero.astro";
import ResultsCategory from "../sections/ResultsCategory.astro";
import ResultsIndustrial from "../sections/ResultsIndustrial.astro"
import ResultsStore from "../sections/ResultsStore.astro"
import ResultsConvenience from "../sections/ResultsConvenience.astro"
import ContactCard from "../sections/ContactCard.astro";
---

<Layout title="Conserve Energy |">
  <main>
    <ResultsHero />
    <section>
      <ResultsCategory />
      <ResultsIndustrial />
      <ResultsStore />
      <ResultsConvenience />
      <ContactCard />
    </section>
  </main>
</Layout>

<!-- <style>
    * {
        border: 1px solid red;
    }
</style> -->