---
import Layout from "../layouts/Layout.astro";
import ResultsHero from "../components/ResultsHero.astro";
import ResultsCategory from "../components/ResultsCategory.astro";
import ResultsIndustrial from "../components/ResultsIndustrial.astro"
import ResultsStore from "../components/ResultsStore.astro"
import ResultsConvenience from "../components/ResultsConvenience.astro"
import ContactCard from "../components/ContactCard.astro";
---

<Layout title="Conserve Energy |">
  <main>
    <ResultsHero />
    <section>
      <ResultsCategory />
      <ResultsIndustrial />
      <ResultsStore />
      <ResultsConvenience />
      <ContactCard />
    </section>
  </main>
</Layout>

<!-- <style>
    * {
        border: 1px solid red;
    }
</style> -->