---
import Layout from "../layouts/Layout.astro";
import ServiceCard from "../components/ServiceCard.astro";
import ContactCard from "../components/ContactCard.astro";
import Servicehero from "../components/ServiceHero.astro";
---

<Layout title="Conserve Energy |">
  <main>
    <Servicehero />
    <section>
      <ServiceCard />
      <ContactCard />
    </section>
  </main>
</Layout>

<!-- <style>
    * {
        border: 1px solid red;
    }
</style> -->
