---
import Layout from "../layouts/Layout.astro";
import ServiceCard from "../sections/ServiceCard.astro";
import ContactCard from "../sections/ContactCard.astro";
import ServiceHero from "../sections/ServiceHero.astro";
---

<Layout title="Conserve Energy |">
  <main>
    <ServiceHero />
    <section>
      <ServiceCard />
      <ContactCard />
    </section>
  </main>
</Layout>

<!-- <style>
    * {
        border: 1px solid red;
    }
</style> -->
