---
import Layout from "../layouts/Layout.astro";
import ServiceHero from "../components/ServiceHero.astro";
import ServiceCard from '../components/ServiceCard.astro';
---

<Layout title="Conserve Energy |">
  <main>
    <ServiceHero />
    <section>
        <ServiceCard />
    </section>
  </main>
</Layout>

<!-- <style>
    * {
        border: 1px solid red;
    }
</style> -->