---
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import { logo } from "../assets/images";
import { hamburgerBlack } from "../assets/icons";
---

<nav class="flex items-center justify-between max-lg:flex mb-10 max-container max-xl:px-5">
  <a href="/ConserveEnergy">
    <Image src={logo} alt="Logo" width={203} height={26} />
  </a>

  <p class="flex items-center justify-center gap-20 max-lg:hidden">
    <a href="/ConserveEnergy/services">Services</a>
    <a href="/ConserveEnergy/results">Results</a>
    <a href="/ConserveEnergy/about">About</a>
    <a href="/ConserveEnergy/contact">Contact</a>
  </p>
    
  <div class="max-lg:hidden">
    <Button 
    id="scheduleBtn" isfilled theme="white">
      Contact us
    </Button>
    </div>  

  <div class="hidden max-lg:block">
    <Image src={hamburgerBlack} 
    alt="Hamburger" width={25} height={25} />
  </div>
</nav>

<script>
  document
    .querySelector("#scheduleBtn")
    ?.addEventListener("click", () => alert("this is the schedule btn"));
</script>

<style>
  /* * {
    border: 1px solid red;
  } */
</style>
