---
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import { logo } from "../assets/images";
---

<nav class="flex items-center justify-between max-container">
  <Image src={logo} alt="Logo" width={203} height={26} />
  <div
    class="flex items-center font-roboto justify-center text-base gap-20"
  >
    <a href="/services">Services</a>
    <a href="">Results</a>
    <a href="">About</a>
    <a href="">Contact</a>
  </div>

<Button id="scheduleBtn" theme="button">Schedule Now</Button> 

</nav>

<script>
  document.querySelector("#scheduleBtn")?.addEventListener('click', () => alert('this is the schedule btn'));
</script>
