---
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import { logo } from "../assets/images";
import { hamburger } from "../assets/icons";
---

<nav
  class="flex items-center justify-between max-lg:flex mb-10 max-container"
>


  <a href="/ConserveEnergy">
    <Image src={logo}
    alt="Logo"
    width={203}
    height={26} />
  </a>

    <p class="flex items-center justify-center gap-20">
      <a href="/ConserveEnergy/services">Services</a>
      <a href="">Results</a>
      <a href="">About</a>
      <a href="">Contact</a>
    </p>

    <Button id="scheduleBtn" theme="button">Schedule Now</Button>

  <!-- <div class="hidden max-lg:block">
    <Image src={hamburger} 
    alt="Hamburger" width={25} height={25} />
  </div> -->
</nav>

<script>
  document
    .querySelector("#scheduleBtn")
    ?.addEventListener("click", () => alert("this is the schedule btn"));
</script>

<style>
  /* * {
    border: 1px solid red;
  } */
</style>
