---
import logo from "../../public/images";
---

<nav class="flex items-center justify-between">
  <div class="logo"><img src={logo} /></div>
  <div class="navLinks flex gap-4">
    <a href="">Services</a>
    <a href="">Results</a>
    <a href="">About</a>
    <a href="">Contact</a>
  </div>
</nav>
