---
import Carousel from "../js/reviews.jsx";
// import Image from "astro:assets";
import { about1, about2, about3, about4, about5 } from '../assets/images';

const slides = [
  about1,
  about2,
  about3,
  about4,
  about5
];
---

<div class='w-[30%] h-full m-auto py-20'>
    <Carousel slides={slides} />
  </div>