---
import { Image } from "astro:assets";

import {
    convenience1,
    convenience2,
    convenience3,
    convenience4,
} from "../assets/images";
---

<div class="max-container mt-20 max-xl:p-10 max-xl:mt-0 max-sm:pt-0">
    <h2 class="uppercase text-center my-16 max-md:text-3xl max-sm:text-xl">
        convenience stores
    </h2>

    <div class="flex-col gap-20 flex">
        <div class="flex flex-col gap-10">
            <Image src={convenience1} alt="convenience-hero" />
            <div class="flex gap-5 max-xl:flex-col">
                <Image src={convenience2} class="w-full" alt="" />

                <Image src={convenience3} class="w-full" alt="" />

                <Image src={convenience4} class="w-full" alt="" />
            </div>
        </div>

        <div
            class="flex justify-between max-xl:flex-col w-full max-xl:gap-5 gap-14"
        >
            <div
                class="flex w-full justify-between gap-5 max-xl:justify-center"
            >
                <div
                    class="p-6 gap-3 flex-col flex justify-center h-36 w-64 text-center shadow-3xl rounded-xl max-xl:w-full"
                >
                    <h4 class="text-title-color">$65,000</h4>
                    <p class="text-center">Initial cost</p>
                </div>

                <div
                    class="p-6 gap-3 flex-col flex justify-center h-36 w-64 text-center shadow-3xl rounded-xl max-xl:w-full"
                >
                    <h4 class="text-title-color">$40,000</h4>
                    <p class="text-center">Incentive</p>
                </div>
            </div>

            <div
                class="flex max-sm:flex-col w-full justify-between gap-5 max-xl:justify-center"
            >
                <div
                    class="p-6 gap-3 flex-col flex justify-center h-36 w-64 text-center shadow-3xl rounded-xl max-xl:w-full"
                >
                    <h4 class="text-title-color">$16,000</h4>
                    <p class="text-center">Annual energy savings</p>
                    <p class="text-center">(Assume 285,000 kWh)</p>
                </div>

                <div
                    class="p-6 gap-3 flex-col flex justify-center h-36 w-64 text-center shadow-3xl rounded-xl max-xl:w-full"
                >
                    <h4 class="text-title-color">64%</h4>
                    <p class="text-center">Expected RDI</p>
                    <p class="text-center">(1.9 Year payback)</p>
                </div>
            </div>
        </div>

        <div class="flex justify-between max-lg:flex-col max-lg:gap-10 pr-20">
            <div class="flex-col flex gap-10 w-1/2 max-lg:w-full">
                <h3>Typical results for convenence stores</h3>
                <p>
                    Although relatively small in footprint, a convenience store
                    or gas station generally has long operating hours and can be
                    energy intensive.
                </p>
            </div>

            <div class="flex-col flex gap-10">
                <h3>Retrofits include:</h3>
                <p>Interior and exterior LED lighting</p>
                <p>Refrigerated case lighting</p>
                <p>Anti-sweat door heater controls</p>
                <p>New fan motors</p>
            </div>
        </div>
    </div>
</div>

<style>
    /* * {
        border: 1px solid red;
    } */
</style>
