---
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import { warehouse } from "../assets/images";

import index from "../constants/index.json";
import ServiceInfo from "../components/ServiceInfo.astro";
---

<div class="flex py-10 gap-10 max-lg:flex-col max-container max-xl:px-5">
    <div class="flex flex-col justify-center gap-5">
        <div class="caption">Turnkey solutions</div>

        <h1 class="">Top-notch services</h1>

        <p class="">
            Vorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            vulputate libero et velit interdum, ac aliquet odio mattis. Class
            aptent taciti sociosqu ad litora torquent per conubia nostra, per
            inceptos himenaeos.
        </p>

        <a href="/ConserveEnergy">
            <Button
            class="mt-5"
            id="scheduleBtn"
            theme="button">Schedule Now</Button>
        </a>
    </div>

    <Image src={warehouse} alt="Warehouse" class="max-lg:w-full"/>
</div>

<section class="flex-col py-10 gap-10 max-lg:flex-col max-container max-xl:px-5">
    <p class="caption">Testimonials</p>
    <h2>What our clients say</h2>
    <div class="flex flex-col justify-center gap-5">
      {
        index.map((card) => (
            <ServiceInfo
            label={card.label}
                subtext={card.subtext}
              />
        ))
      }
    </div>
  </section>

<script>
    document.querySelector("#scheduleBtn")?.addEventListener('click', () => alert('this is the schedule btn'));
  </script>


<style>
    /* * {
        border: 1px solid red;
    } */
</style>