---
const { title } = Astro.props;
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
  </head>
  <body class="">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");

  @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* border: 1px solid red; */
  }

  :root {
    --primary: #007bff;
    --secondary: #6c757d;
    --button: #247b46;
    --caption-color: #e06127;
    --title-color: #111211;
    --body-color: #3a3a3a;
    --bone-white: #f9f6ee;
    --gray: #9c9c9c;
    --white: #ffffff;
  }

  h1 {
    font-family: "robotoSlab", sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 72.8px;
    color: var(--title-color);
  }
  h2 {
    font-family: "robotoSlab";
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
    color: var(--title-color);
  }
  h3 {
    font-family: "robotoSlab", serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    color: var(--title-color);
  }
  h4 {
    font-family: "roboto", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
  }
  p {
    font-family: "roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--body-color);
  }

  .caption {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    font-family: "robotoSlab";
    color: var(--caption-color);
  }

  @layer components {
    .max-container {
      max-width: 1192px;
      margin: 0 auto;
    }
  }

  @media screen and (max-width: 1024px) {
      .categories {
        flex-direction: column;
        padding: 1.25rem;
        gap: 1.25rem;
    }
  }
</style>